<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOGS_ABSOLUTE_PATH" value="${user.home}" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>▶ %highlight(%-5level %d{HH:mm:ss}) %cyan(%logger{15}[%method:%line]) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/logs/qrwf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/logs/qrwf.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.goblin" level="debug">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.springframework" level="error">
        <appender-ref ref="console"/>
    </logger>
    <logger name="io.micrometer" level="info">
        <appender-ref ref="console"/>
    </logger>
</configuration>



